.log-in-container {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  padding: 1rem;
  position: relative;
}

.background-image {
  width: 100%;
  height: 50vh;
  background-color: red;
  object-fit: cover;
  border-radius: 0.5rem;
}

.form {
  width: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.h1 {
  font-size: 1rem;
  font-weight: normal;
  color: #202020;
}

.input-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.label {
  font-size: 0.875rem;
  color: gray;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.error-p {
  font-size: 0.875rem;
  color: red;
}

.input,
.password-input-div {
  width: 100%;
  height: 2rem;
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #202020;
  background: none;
  outline: none;
}

.password-input-div,
.red-password-input-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eye-icon {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  cursor: pointer;
}

.password-input {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  outline: none;
}

.red-border-input,
.red-password-input-div {
  width: 100%;
  height: 2rem;
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid red;
  background: none;
  outline: none;
}

.red-border-input[type="number"] {
  -moz-appearance: textfield;
}

.red-border-input[type="number"]::-webkit-inner-spin-button,
.red-border-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.button {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: #202020;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #202020;
  background: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #f15824;
  border: 1px solid #f15824;
  color: whitesmoke;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .form {
    width: 30rem;
  }
}

@media screen and (max-width: 550px) {
  .form {
    width: 25rem;
  }
}

@media screen and (max-width: 450px) {
  .form {
    width: 20rem;
  }
}
