.dashboard-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.content-container {
  width: calc(100vw - 13rem);
  height: 100%;
  flex-grow: 1;
  background-color: whitesmoke;
  transition: margin-left 0.3s ease;
  padding: 1rem;
  overflow-y: scroll;
}

.dashboard-banner {
  width: 100%;
  height: 12rem;
  background: url("../../image/dashboard-banner-background-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.time-box,
.date-box {
  width: 11rem;
  height: auto;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
}

.dashboard-content {
  width: 100%;
  height: calc(100vh - 15rem);
  margin-top: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
}

.chart-conatiner,
.data-conatiner {
  height: 100%;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  display: flex;
}

.chart-conatiner {
  width: 40%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-description-box {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-color-box {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon-color {
  width: 15px;
  height: 15px;
  background-color: #f15824;
  border-radius: 50%;
}

.cities-color {
  background-color: #202020;
}

.messages-color {
  background-color: #808080;
}

.ages-color {
  background-color: #00008b;
}

.icon-p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #202020;
}

.data-conatiner {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.users-container,
.cities-container,
.messages-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 2rem;
}

.data-box {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 18rem;
  height: 100%;
}

.data-box {
  width: auto;
  height: 100%;
  gap: 0.75rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #202020;
}

.p {
  font-size: 0.875rem;
  font-weight: 400;
  color: gray;
}

.h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #f15824;
}

@media screen and (max-width: 1200px) {
  .chart-conatiner {
    width: 50%;
  }

  .data-conatiner {
    width: 50%;
  }

  .chart {
    width: 8rem;
  }
}

@media screen and (max-width: 1000px) {
  .data-conatiner,
  .chart-conatiner {
    width: 100%;
  }

  .data-conatiner {
    height: 20rem;
  }

  .dashboard-content {
    flex-direction: column;
    overflow-y: scroll;
    height: auto;
  }

  .chart {
    width: 15rem;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-banner {
    gap: 1.5rem;
  }

  .chart-conatiner,
  .data-conatiner {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .dashboard-banner {
    flex-direction: column;
  }

  .users-container,
  .cities-container,
  .messages-container {
    padding: 1rem;
  }

  .chart {
    width: 6rem;
  }
}
