.add-user-container {
  width: calc(100vw - 13rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  background-color: whitesmoke;
}

.form {
  width: auto;
  height: 30rem;
}

.input-container {
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.label {
  width: 100%;
  color: #8e8e8e;
  font-size: 0.875rem;
  font-weight: 400;
}

.age-label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.input {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #202020;
  background: none;
  margin-bottom: 1rem;
  outline: none;
}

.button {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  border: 1px solid #202020;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 0.875rem;
  font-weight: 400;
  color: #202020;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.disabled-button {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  border: 1px solid #8e8e8e;
  border-radius: 0.5rem;
  background-color: #8e8e8e;
  font-size: 0.875rem;
  font-weight: 400;
  color: #202020;
  margin-top: 1rem;
}

.button:hover {
  background-color: #f15824;
  border: 1px solid #f15824;
  color: whitesmoke;
  transition: all 0.2s ease;
}

.submition-message {
  width: 100%;
  color: whitesmoke;
  background-color: green;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.error-message {
  width: 100%;
  color: whitesmoke;
  background-color: red;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1100px) {
  .input-container {
    width: 30rem;
  }
}
@media screen and (max-width: 700px) {
  .input-container {
    width: 20rem;
  }
}
