.dashboard-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.content-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: whitesmoke;
  transition: margin-left 0.3s ease;
  padding: 1.5rem 2rem;
}

.dashboard-banner {
  width: 100%;
  height: 12rem;
  background: url("../image/dashboard-banner-background-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.time-box,
.date-box {
  width: 11rem;
  height: auto;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
}

.dashboard-content {
  width: 100%;
  height: calc(100vh - 16rem);
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chart-conatiner,
.data-conatiner {
  height: 100%;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-conatiner {
  width: 30%;
}

.data-conatiner {
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .chart-conatiner {
    width: 50%;
  }

  .data-conatiner {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-banner {
    gap: 1.5rem;
  }

  .dashboard-content {
    flex-direction: column;
    overflow-y: scroll;
  }

  .chart-conatiner,
  .data-conatiner {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .dashboard-banner {
    flex-direction: column;
  }
}
