.dashboard-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.content-container {
    flex-grow: 1;
    background-color: deepskyblue;
    transition: margin-left 0.3s ease;
    padding: 1.5rem 2rem;
}