.users-container {
  width: calc(100vw - 13rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  background-color: rgb(166, 77, 255);
}
