.ul-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(10, auto);
  gap: 0.5rem;
}

.item-li {
  width: 100%;
  height: auto;
  border: 1px solid #8e8e8e;
  border-radius: 0.5rem;
  list-style: none;
  padding: 0.5rem 0rem 0.5rem 0.875rem;
  display: flex;
  flex-direction: row;
}

.item-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
}

.icon-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 1rem;
}

.item-p {
  width: auto;
  height: auto;
  font-size: 0.875rem;
  font-weight: 400;
  color: #8e8e8e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-message {
  grid-column: 2/4;
}

.span {
  color: #202020;
  font-size: 1rem;
  font-weight: 600;
}

.loading-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.loading-icon {
  width: 1.5rem;
  height: auto;
  color: #f15824;
  animation: spin 2s linear infinite;
}

.loading-p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #202020;
}

.edit-icon,
.delete-icon {
  width: 1.25rem;
  height: auto;
  color: #202020;
  transition: all 0.15s ease;
}

.edit-icon:hover,
.delete-icon:hover {
  cursor: pointer;
  color: #f15824;
  transition: all 0.15s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty-list-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.nothing-icon {
  width: 1.5rem;
  height: auto;
  color: #f15824;
}

.nothing-p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #202020;
}

@media screen and (max-width: 550px) {
  .item-container {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
  }

  .item-message {
    grid-column: 1/3;
  }
}
