.ul {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(10, auto);
  gap: 0.5rem;
}

.item-li {
  width: 100%;
  height: auto;
  border: 1px solid #8e8e8e;
  border-radius: 0.5rem;
  list-style: none;
  padding: 0.5rem;
}

.loading-p {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #202020;
  margin-top: 1rem;
}

.loading-icon {
  width: 1.5rem;
  height: auto;
  color: #202020;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
