.chart-container {
  width: calc(100vw - 13rem);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  overflow-y: scroll;
  background-color: whitesmoke;
}

.charts-ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  color: #202020;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: whitesmoke;
  background-color: #f15824;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.active-nav-link {
  color: whitesmoke;
  background-color: #f15824;
  border-radius: 0.5rem;
}

.nav-link-icon {
  width: 1.35em;
  height: auto;
}

.chart-description-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 1.5rem;
}

.icon-color-box {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon-color {
  width: 15px;
  height: 15px;
  background-color: #f15824;
  border-radius: 50%;
}

.icon-p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #202020;
}

.cities-color {
  background-color: #202020;
}

.messages-color {
  background-color: #808080;
}

.ages-color {
  background-color: #00008b;
}

@media screen and (max-width: 1200px) {
  .charts-ul {
    gap: 1rem;
  }

  .chart-description-box {
    gap: 2rem;
  }
}
