.users-container {
  width: calc(100vw - 13rem);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 2rem 2rem 2rem;
  background-color: whitesmoke;
  overflow-y: scroll;
}
